/* 
// ─────────────────────────────────────────────────────────────────────────────
// HOME PAGE STYLES
// Below-the-fold styles for the homepage that load after critical styles.
// The first section of the home page should go in critical.scss, while the
// rest of the home page styles go in here.
// ─────────────────────────────────────────────────────────────────────────────
*/

/* ******************* */
/*       FEATURES      */
/* ******************* */

@media only screen and (min-width: 0rem) {
  #features {
    .title {
      margin-bottom: 0;
      line-height: 1.4em;
    }

    .text {
      margin-bottom: calc(16 / 16 * 1rem);
      font-size: 0.8125rem;
      line-height: 2em;
    }

    .container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: calc(542 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
      gap: 1.5rem;
      padding: 0 1.625rem;
      text-align: center;
    }

    .feature-list {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      li {
        list-style: none;
        padding-left: 1rem;

        .header {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 1rem;
          background-color: var(--color-primary-very-light);
          border-radius: 2.4375rem 0 0 2.4375rem;
          margin-bottom: 0.5rem;

          .button-solid {
            padding: 0.5rem 1.5rem;
            border-radius: 2.4375rem;
            font-size: 1rem;
            line-height: 1.4em;
          }

          .title {
            font-size: 1rem;
          }
        }

        .text {
          margin-bottom: 0;
          padding-right: 1rem;
        }
      }
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #features {
    padding: 0 10.3125rem;
    .container {
      flex-flow: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: calc(125 / 16 * 1rem);
      margin: auto;
    }

    .content {
      padding: 0;
      flex: 0 0 auto;
      max-width: calc(445 / 16 * 1rem);
    }

    .feature-list {
      flex: 1;
    }

    .feature-list li {
      padding-left: 0;
      .header {
        background-color: transparent;
      }

      .text {
        max-width: calc(449 / 16 * 1rem);
        margin-left: 5.125rem;
      }
    }

    .title {
      text-align: start;
    }

    .text {
      text-align: start;
      font-size: 1rem;
      line-height: 1.625em;
    }

    .content {
      margin: 0;
    }
  }
}

/* ******************* */
/*      REVIEWS        */
/* ******************* */

@media only screen and (min-width: 0rem) {
  #reviews {
    padding: var(--section-padding);
    padding-top: calc(112 / 16 * 1rem);
    .container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(2.5rem, 6vw, 4rem);
    }

    .content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;

      .title {
        margin-bottom: 0;
      }
    }

    .card-container {
      padding: 0;
      margin: 0;
      margin-top: 4rem;
      display: flex;
      column-gap: calc(20 / 16 * 1rem);
      row-gap: calc(64 / 16 * 1rem);
    }

    .item {
      text-align: center;
      list-style: none;
      width: 100%;
      max-width: calc(630 / 16 * 1rem);
      background-color: var(--color-gray-50);
      /* Padding L & R - 16px - 32px */
      padding: 0 clamp(1rem, 3.2vw, 2rem) 0;
      /* 32px - 40px */
      padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;

      &:last-of-type {
        margin-bottom: 0;
      }

      &.hidden {
        display: none;
      }
    }

    .item-img {
      width: calc(80 / 16 * 1rem);
      height: calc(80 / 16 * 1rem);
      transform: translateY(-50%);
      transform-origin: center;
      margin-bottom: -1.5rem;
    }

    .text {
      font-size: calc(13 / 16 * 1rem);
      line-height: 2em;
      margin: 0;
      padding-bottom: calc(20 / 16 * 1rem);
      color: var(--bodyTextColor);
    }

    .name {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.5em;
      font-weight: 700;
      width: 40%;
      margin: 0;
      display: block;
      color: var(--headerColor);
    }

    .dots {
      display: flex;
      gap: 0.5rem;
    }

    .dot {
      background: none;
      border-radius: 50%;
      border: 1px solid var(--color-primary);
      width: 12px;
      height: 12px;

      &.active {
        background: var(--color-primary);
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews {
    .card-container {
      flex-direction: row;
      justify-content: space-between;
    }

    .dots {
      visibility: hidden;
      position: absolute;
    }
  }
}
